/* src/app/globals.css */
@import "tailwindcss";

:root {
  /* Base: 2.6vw */
  --font-size-base: 4vw;
  /* Incremento del 1.2% (1.012) */
  --font-size-md: calc(var(--font-size-base) * 1.012);
  /* Títulos o elementos destacados */
  --font-size-lg: calc(var(--font-size-md) * 1.012);

  --background: #FFFFFF;
  --foreground: #1A1A1A;
}

@layer base {
  body {
    @apply antialiased text-black;
    /* Aplicamos la base al cuerpo */
    font-size: var(--font-size-base);
  }
}

/* Clases utilitarias para WebStorm */
.text-axis-base { font-size: var(--font-size-base); }
.text-axis-md { font-size: var(--font-size-md); }
.text-axis-lg { font-size: var(--font-size-lg); }